@font-face {
   font-family: 'Muli-Bold';
   font-display: swap;
   src: url('file:///C:/Users/jemla/AppData/Local/Mobirise.com/Mobirise/projects/project-2021-04-07_091831/fonts/Muli-Bold/font.ttf');
}
