@font-face {
   font-family: 'Gill Sans';
   font-display: swap;
   src: url('file:///C:/Users/jemla/AppData/Local/Mobirise.com/Mobirise/projects/project-2021-04-07_091831/fonts/Gill%20Sans/font.eot');
}
